.movieCard-container {
	background: var(--white);
	box-shadow: var(--shadow-2);
	transition: var(--transition);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 15rem;
	height: auto;
	margin-bottom: 3rem;
}
.movieCard-container:hover {
	box-shadow: var(--shadow-4);
}
.img-container {
	width: 15rem;
}
.img {
	border-top-left-radius: var(--borderRadius);
	border-top-right-radius: var(--borderRadius);
}
.footer {
	padding: 1rem 0.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer h4 {
	font-weight: 700;
	text-align: center;
	margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
	.movieCard-container {
		width: 12rem;
		height: auto;
		margin-bottom: 1rem;
	}
	.img-container {
		width: 12rem;
	}

	.footer h4 {
		font-size: small;
	}
}
